# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
ENV/

# IDE files
.vscode/
.idea/

# Database
*.sqlite3

# Node modules
node_modules/

# Local env files
.env
.env.local

# Vite / React
frontend/dist/
frontend/node_modules/
